.contact-us-thq-contact20-elm {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact-us-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-us-thq-content-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-us-thq-contact-info-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-content-elm2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-text-elm1 {
  align-self: stretch;
  text-align: center;
}
 
.contact-us-thq-text-elm2 {
  text-align: center;
}
 
.contact-us-thq-email-elm1 {
  text-align: center;
}
 
.contact-us-thq-content-elm3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-us-icon3 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.contact-us-thq-contact-info-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-content-elm4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-text-elm3 {
  align-self: stretch;
  text-align: center;
}
 
.contact-us-thq-text-elm4 {
  text-align: center;
}
 
.contact-us-thq-email-elm2 {
  text-align: center;
}
 
.contact-us-thq-content-elm5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-us-thq-contact-info-elm3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-content-elm6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-text-elm5 {
  align-self: stretch;
  text-align: center;
}
 
.contact-us-thq-text-elm6 {
  text-align: center;
}
 
.contact-us-thq-phone-elm {
  text-align: center;
}
 
.contact-us-thq-content-elm7 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-us-thq-contact-info-elm4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-content-elm8 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-thq-text-elm7 {
  align-self: stretch;
  text-align: center;
}
 
.contact-us-thq-content4-elm {
  text-align: center;
}
 
.contact-us-thq-address-elm {
  text-align: center;
}
 
.contact-us-fragment10 {
  display: contents;
}
 
.contact-us-text10 {
  display: inline-block;
}
 
.contact-us-fragment11 {
  display: contents;
}
 
.contact-us-text11 {
  display: inline-block;
}
 
.contact-us-fragment12 {
  display: contents;
}
 
.contact-us-text12 {
  display: inline-block;
}
 
.contact-us-fragment13 {
  display: contents;
}
 
.contact-us-text13 {
  display: inline-block;
}
 
.contact-us-fragment14 {
  display: contents;
}
 
.contact-us-text14 {
  display: inline-block;
}
 
.contact-us-fragment15 {
  display: contents;
}
 
.contact-us-text15 {
  display: inline-block;
}
 
.contact-us-fragment16 {
  display: contents;
}
 
.contact-us-text16 {
  display: inline-block;
}
 
.contact-us-fragment17 {
  display: contents;
}
 
.contact-us-text17 {
  display: inline-block;
}
 
.contact-us-fragment18 {
  display: contents;
}
 
.contact-us-text18 {
  display: inline-block;
}
 
.contact-us-fragment19 {
  display: contents;
}
 
.contact-us-text19 {
  display: inline-block;
}
 
.contact-us-fragment20 {
  display: contents;
}
 
.contact-us-text20 {
  display: inline-block;
}
 
.contact-us-fragment21 {
  display: contents;
}
 
.contact-us-text21 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact-us-thq-max-width-elm {
    flex-direction: column;
  }
}
