.our-sponsors-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.our-sponsors-thq-max-width-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.our-sponsors-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.our-sponsors-text2 {
  text-align: justify;
}
 
.our-sponsors-thq-actions-elm {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.our-sponsors-container3 {
  gap: var(--dl-layout-space-twounits);
  width: 50%;
  padding: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-radius8);
  background-color: var(--dl-color-theme-primary1);
}
 
.our-sponsors-thq-logo1-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-thq-logo2-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-thq-logo3-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-thq-logo4-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-thq-logo5-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-thq-logo6-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-thq-logo7-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-thq-logo8-elm {
  object-fit: contain;
  text-decoration: none;
}
 
.our-sponsors-fragment1 {
  display: contents;
}
 
.our-sponsors-text3 {
  display: inline-block;
}
 
.our-sponsors-fragment2 {
  display: contents;
}
 
.our-sponsors-text4 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .our-sponsors-thq-max-width-elm {
    flex-direction: column;
  }
  .our-sponsors-container2 {
    width: 100%;
  }
  .our-sponsors-container3 {
    width: 100%;
    padding: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .our-sponsors-container3 {
    padding: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 479px) {
  .our-sponsors-container1 {
    gap: var(--dl-layout-space-unit);
  }
  .our-sponsors-container2 {
    align-items: center;
  }
  .our-sponsors-text1 {
    text-align: center;
  }
  .our-sponsors-text2 {
    text-align: center;
  }
  .our-sponsors-thq-actions-elm {
    width: 100%;
    flex-direction: column;
  }
  .our-sponsors-container3 {
    padding: var(--dl-layout-space-unit);
  }
}
