.our-venue-container1 {
  display: flex;
  position: relative;
}
 
.our-venue-thq-max-width-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-layout-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-venue-thq-container-elm1 {
  align-self: stretch;
  align-items: center;
}
 
.our-venue-thq-column-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.our-venue-thq-container-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.our-venue-thq-row-elm {
  align-items: stretch;
  flex-direction: row;
}
 
.our-venue-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
 
.our-venue-button {
  width: 100%;
}
 
.our-venue-fragment1 {
  display: contents;
}
 
.our-venue-text16 {
  display: inline-block;
}
 
.our-venue-fragment2 {
  display: contents;
}
 
.our-venue-text17 {
  display: inline-block;
}
 
.our-venue-fragment3 {
  display: contents;
}
 
.our-venue-text21 {
  display: inline-block;
}
 
.our-venue-fragment4 {
  display: contents;
}
 
.our-venue-text22 {
  display: inline-block;
}
 
.our-venue-fragment5 {
  display: contents;
}
 
.our-venue-text23 {
  display: inline-block;
}
 
.our-venue-fragment6 {
  display: contents;
}
 
.our-venue-text24 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .our-venue-text19 {
    font-style: italic;
    font-weight: 700;
  }
}
 
@media(max-width: 991px) {
  .our-venue-thq-container-elm1 {
    flex-direction: column;
  }
  .our-venue-thq-container-elm2 {
    width: auto;
    align-self: flex-start;
    align-items: flex-start;
  }
  .our-venue-thq-row-elm {
    width: 100%;
    position: relative;
    justify-content: flex-start;
  }
  .our-venue-container2 {
    align-self: flex-end;
  }
}
 
@media(max-width: 479px) {
  .our-venue-container2 {
    flex-direction: column;
  }
}
