.our-people-thq-max-width-elm {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-section-title-elm {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-content-elm10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-content-elm11 {
  gap: var(--dl-layout-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-content-elm12 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.our-people-thq-row-elm1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.our-people-container1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.our-people-thq-card-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-placeholder-image-elm1 {
  width: var(--dl-layout-size-xlarge);
  height: var(--dl-layout-size-xlarge);
}
 
.our-people-thq-content-elm13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-title-elm1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-text-elm12 {
  font-style: normal;
  font-weight: 600;
}
 
.our-people-thq-text-elm13 {
  text-align: center;
}
 
.our-people-thq-text-elm14 {
  text-align: center;
}
 
.our-people-thq-card-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-placeholder-image-elm2 {
  width: var(--dl-layout-size-xlarge);
  height: var(--dl-layout-size-xlarge);
}
 
.our-people-thq-content-elm14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-title-elm2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-text-elm15 {
  font-style: normal;
  font-weight: 600;
}
 
.our-people-thq-text-elm16 {
  text-align: center;
}
 
.our-people-thq-text-elm17 {
  text-align: center;
}
 
.our-people-thq-row-elm2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.our-people-container2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.our-people-thq-card-elm3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-placeholder-image-elm3 {
  width: var(--dl-layout-size-xlarge);
  height: var(--dl-layout-size-xlarge);
}
 
.our-people-thq-content-elm15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-title-elm3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-text-elm18 {
  font-style: normal;
  font-weight: 600;
}
 
.our-people-thq-text-elm19 {
  text-align: center;
}
 
.our-people-thq-text-elm20 {
  text-align: center;
}
 
.our-people-thq-card-elm4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-placeholder-image-elm4 {
  width: var(--dl-layout-size-xlarge);
  height: var(--dl-layout-size-xlarge);
}
 
.our-people-thq-content-elm16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-title-elm4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-text-elm21 {
  font-style: normal;
  font-weight: 600;
}
 
.our-people-thq-text-elm22 {
  text-align: center;
}
 
.our-people-thq-text-elm23 {
  text-align: center;
}
 
.our-people-thq-row-elm3 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.our-people-container3 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.our-people-thq-card-elm5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-placeholder-image-elm5 {
  width: var(--dl-layout-size-xlarge);
  height: var(--dl-layout-size-xlarge);
}
 
.our-people-thq-content-elm17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-title-elm5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-text-elm24 {
  font-style: normal;
  font-weight: 600;
}
 
.our-people-thq-text-elm25 {
  text-align: center;
}
 
.our-people-thq-text-elm26 {
  text-align: center;
}
 
.our-people-thq-card-elm6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-placeholder-image-elm6 {
  width: var(--dl-layout-size-xlarge);
  height: var(--dl-layout-size-xlarge);
}
 
.our-people-thq-content-elm18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-title-elm6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-text-elm27 {
  font-style: normal;
  font-weight: 600;
}
 
.our-people-thq-text-elm28 {
  text-align: center;
}
 
.our-people-thq-text-elm29 {
  text-align: center;
}
 
.our-people-thq-row-elm4 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.our-people-container4 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.our-people-thq-card-elm7 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.our-people-thq-placeholder-image-elm7 {
  width: var(--dl-layout-size-xlarge);
  height: var(--dl-layout-size-xlarge);
}
 
.our-people-thq-content-elm19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-title-elm7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.our-people-thq-text-elm30 {
  font-style: normal;
  font-weight: 600;
}
 
.our-people-thq-text-elm31 {
  text-align: center;
}
 
.our-people-thq-text-elm32 {
  text-align: center;
}
 
.our-people-fragment10 {
  display: contents;
}
 
.our-people-text10 {
  display: inline-block;
}
 
.our-people-fragment11 {
  display: contents;
}
 
.our-people-text11 {
  display: inline-block;
}
 
.our-people-fragment12 {
  display: contents;
}
 
.our-people-text12 {
  display: inline-block;
}
 
.our-people-fragment13 {
  display: contents;
}
 
.our-people-text13 {
  display: inline-block;
}
 
.our-people-fragment14 {
  display: contents;
}
 
.our-people-text14 {
  display: inline-block;
}
 
.our-people-fragment15 {
  display: contents;
}
 
.our-people-text15 {
  display: inline-block;
}
 
.our-people-fragment16 {
  display: contents;
}
 
.our-people-text16 {
  display: inline-block;
}
 
.our-people-fragment17 {
  display: contents;
}
 
.our-people-text17 {
  display: inline-block;
}
 
.our-people-fragment18 {
  display: contents;
}
 
.our-people-text18 {
  display: inline-block;
}
 
.our-people-fragment19 {
  display: contents;
}
 
.our-people-text19 {
  display: inline-block;
}
 
.our-people-fragment20 {
  display: contents;
}
 
.our-people-text20 {
  display: inline-block;
}
 
.our-people-fragment21 {
  display: contents;
}
 
.our-people-text21 {
  display: inline-block;
}
 
.our-people-fragment22 {
  display: contents;
}
 
.our-people-text22 {
  display: inline-block;
}
 
.our-people-fragment23 {
  display: contents;
}
 
.our-people-text23 {
  display: inline-block;
}
 
.our-people-fragment24 {
  display: contents;
}
 
.our-people-text24 {
  display: inline-block;
}
 
.our-people-fragment25 {
  display: contents;
}
 
.our-people-text25 {
  display: inline-block;
}
 
.our-people-fragment26 {
  display: contents;
}
 
.our-people-text26 {
  display: inline-block;
}
 
.our-people-fragment27 {
  display: contents;
}
 
.our-people-text33 {
  display: inline-block;
}
 
.our-people-fragment28 {
  display: contents;
}
 
.our-people-text34 {
  display: inline-block;
}
 
.our-people-fragment29 {
  display: contents;
}
 
.our-people-text35 {
  display: inline-block;
}
 
.our-people-fragment30 {
  display: contents;
}
 
.our-people-text36 {
  display: inline-block;
}
 
.our-people-fragment31 {
  display: contents;
}
 
.our-people-text37 {
  display: inline-block;
}
 
.our-people-fragment32 {
  display: contents;
}
 
.our-people-text38 {
  display: inline-block;
}
 

 
@media(max-width: 1600px) {
  .our-people-thq-placeholder-image-elm1 {
    width: 250px;
    height: 250px;
  }
  .our-people-thq-placeholder-image-elm2 {
    width: 250px;
    height: 250px;
  }
  .our-people-thq-placeholder-image-elm3 {
    width: 250px;
    height: 250px;
  }
  .our-people-thq-placeholder-image-elm4 {
    width: 250px;
    height: 250px;
  }
  .our-people-thq-placeholder-image-elm5 {
    width: 250px;
    height: 250px;
  }
  .our-people-thq-placeholder-image-elm6 {
    width: 250px;
    height: 250px;
  }
  .our-people-thq-placeholder-image-elm7 {
    width: 250px;
    height: 250px;
  }
}
 
@media(max-width: 991px) {
  .our-people-thq-content-elm11 {
    gap: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .our-people-thq-row-elm1 {
    align-items: center;
    flex-direction: column;
  }
  .our-people-thq-row-elm2 {
    align-items: center;
    flex-direction: column;
  }
  .our-people-thq-row-elm3 {
    align-items: center;
    flex-direction: column;
  }
  .our-people-thq-row-elm4 {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .our-people-thq-text-elm10 {
    text-align: center;
  }
  .our-people-thq-text-elm11 {
    text-align: center;
  }
  .our-people-container1 {
    flex-direction: column;
  }
  .our-people-container2 {
    flex-direction: column;
  }
  .our-people-container3 {
    flex-direction: column;
  }
  .our-people-container4 {
    flex-direction: column;
  }
}
