.support-home-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.support-home-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-layout-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
 
.support-home-thq-row-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-layout-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.support-home-thq-container-elm {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.support-home-thq-content-elm {
  gap: 24px;
  width: 616px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.support-home-thq-actions-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
}
 
.support-home-image {
  height: 500px;
}
 
.support-home-fragment1 {
  display: contents;
}
 
.support-home-text4 {
  display: inline-block;
}
 
.support-home-fragment2 {
  display: contents;
}
 
.support-home-text5 {
  display: inline-block;
}
 
.support-home-fragment3 {
  display: contents;
}
 
.support-home-text6 {
  display: inline-block;
}
 
.support-home-fragment4 {
  display: contents;
}
 
.support-home-text7 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .support-home-thq-container-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .support-home-thq-max-width-elm {
    gap: var(--dl-layout-space-twounits);
  }
  .support-home-thq-content-elm {
    width: auto;
  }
  .support-home-image {
    height: auto;
  }
}
